body{
	background-image: url('../img/bg.jpg');   background-repeat: no-repeat;font-family: 'Poppins', sans-serif; height:150vh;   background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.title{
	padding: 5px;
	text-align: center;
	background: linear-gradient(to right, rgba(167, 52, 107, 0.8), rgba(102, 29, 74, 0.8))
}
.title h1{
	color: rgb(227, 251, 253);
	text-shadow: 1px 1px 5px rgb(240, 71, 78);
	font-size: 45px;
}
.taskLists{
	text-align: center;
	background: linear-gradient(to right, rgba(136, 227, 230, 0.3), rgba(124, 189, 253, 0.3));
	padding: 5px;
}
.taskLists ul{
	text-decoration: none;
	list-style: none;
}
.taskLists ul li{
	font-size: 30px;
	color: #fff;

}
.taskLists form{
	display: inline;
}
.addToList{
	padding:5px;
	width: 100%;
}
.addToList form #add{
	width:90%;
	padding: 15px;
	font-size: 20px;
	border:none;
	background: linear-gradient(to right, rgba(235, 178, 178, 0.7), rgba(239, 193, 193, 0.7));
	color:#fff;
}
.addToList form #button{
	border: none;
	padding: 15px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}
